@{
    ViewBag.Title = "Home Page";
}


<section class="row">
    <article class="post col-md-6">
        <h2 class="title">Заглавие на поста</h2>
        <div class="about">
            Публикация от<i>Филип Илиев</i>
            на <i>11-май-2016</i>
        </div>
        <div class="body">
            Тяло на публикацията......
            <p>Малко текст.</p>
        </div>
    </article>
    <article class="post col-md-6">
        <h2 class="title">Заглавие на поста</h2>
        <div class="about">
            Публикация от<i>Филип Илиев</i>
            на <i>11-май-2016</i>
        </div>
        <div class="body">
            Тяло на публикацията......
            <p>Малко текст.</p>
        </div>
    </article>
    <article class="post col-md-6">
        <h2 class="title">Заглавие на поста</h2>
        <div class="about">
            Публикация от<i>Филип Илиев</i>
            на <i>11-май-2016</i>
        </div>
        <div class="body">
            Тяло на публикацията......
            <p>Малко текст.</p>
        </div>
    </article>
</section>